/**
 *  文件名:resource.rc
 *  功能:资源文件,界面布局,菜单设定,加速键设定,图标设定
 *  作者:杜宇
 **/
#include "resource.h"

MYMENU MENU
BEGIN
    POPUP "文件(&F)"
    BEGIN
        MENUITEM "清空\tCtrl+E",                  ID_EMPTY
        MENUITEM SEPARATOR
        MENUITEM "重新导入\tCtrl+O",                ID_FILE_IMPORT
        MENUITEM "导出所有\tCtrl+S",                ID_FILE_EXPORT
        MENUITEM SEPARATOR
        MENUITEM "退出\tAtl+F4",                  ID_APP_EXIT
    END
    POPUP "编辑(&E)"
    BEGIN
        POPUP "省"
        BEGIN
            MENUITEM "省份信息",                        ID_PROVINCE_INFO
        END
        POPUP "案件"
        BEGIN
            MENUITEM "添加",                          ID_CASE_ADD
            MENUITEM "修改",                          ID_CASE_ALTER
            MENUITEM "删除",                          ID_CASE_DEL
        END
        POPUP "新闻"
        BEGIN
            MENUITEM "添加",                          ID_NEWS_ADD
            MENUITEM "修改",                          ID_NEWS_ALTER
            MENUITEM "删除",                          ID_NEWS_DEL
        END
        MENUITEM SEPARATOR
        MENUITEM "查找\tCtrl+F",                  ID_FIND
    END
    POPUP "统计(&S)"
    BEGIN
        MENUITEM "统计所有\tCtrl+T",                ID_APP_STATISTICS
    END
    POPUP "选项(&O)"
    BEGIN
        MENUITEM "设置\tCtrl+I",                  ID_OPTION
    END
    POPUP "帮助(&H)"
    BEGIN
        MENUITEM "关于\tCtrl+H",                  ID_APP_ABOUT
    END
END


MYDIALOG DIALOGEX 0, 0, 351, 316
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "贪腐案件信息管理系统"
CLASS "DLGCLASS"
FONT 10, "宋体", 400, 0, 0x86
BEGIN
    COMBOBOX        IDC_COMBO_PROVINCE,42,12,48,130,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
    LTEXT           "省份:",IDC_STATIC,15,16,20,8
    LTEXT           "纪检负责人:",IDC_STATIC,110,16,44,8
    LTEXT           "联系电话:",IDC_STATIC,217,16,36,8
    LTEXT           "案件列表:  (双击案件编号可获取相关新闻信息)",IDC_STATIC,14,37,267,8
    GROUPBOX        "相关新闻报道:",IDC_STATIC,12,219,328,73
    LTEXT           "案件编号:",IDC_STATIC,26,238,35,8
    LTEXT           "报道日期:",IDC_STATIC,183,238,35,8
    LTEXT           "媒体类别:",IDC_STATIC,26,257,35,8
    LTEXT           "媒体名称:",IDC_STATIC,183,257,35,8
    LTEXT           "内容索引:",IDC_STATIC,26,274,35,8
    EDITTEXT        IDC_EDIT1,64,236,93,12,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_EDIT2,218,236,87,12,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_EDIT3,64,253,93,12,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_EDIT4,218,253,86,12,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_EDIT5,64,271,241,13,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_EDIT6,153,13,46,12,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_EDIT7,251,13,64,13,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "下一则",IDC_BUTTON_NEXT,311,250,25,14
    PUSHBUTTON      "上一则",IDC_BUTTON_BEFORE,311,230,25,14
    RTEXT           "",IDC_NEWS_COUNT,306,272,30,10
END

ABOUTDIALOG DIALOGEX 0, 0, 166, 74
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_VISIBLE | WS_CAPTION
CAPTION "关于本系统"
FONT 12, "宋体", 400, 0, 0x86
BEGIN
    LTEXT           "贪腐案件信息管理系统",IDC_STATIC,33,11,99,10
    LTEXT           "作者:华中科技大学计算机学院1005班-杜宇",IDC_STATIC,5,29,155,8
    LTEXT           "学号:U201014363",IDC_STATIC,5,43,60,8
    LTEXT           "制作时间:2011年9月",IDC_STATIC,5,56,86,8
    PUSHBUTTON      "确定",IDC_BUTTON_BACK,102,54,38,11
END

STATISTICSDIALOG DIALOGEX 0, 0, 555, 363
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "数据统计"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "主要罪名:",IDC_STATIC,15,18,254,105
    COMBOBOX        IDC_COMBO_CRIME,61,13,48,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "行政级别:",IDC_STATIC,9,131,254,100
    GROUPBOX        "案发所属省份:",IDC_STATIC,297,18,234,105
    GROUPBOX        "报道数最多的10起:",IDC_STATIC,298,131,234,100
    GROUPBOX        "总汇:",IDC_STATIC,27,234,479,114
    COMBOBOX        IDC_COMBO_PROVINCE2,362,13,48,139,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_LEVEL,62,128,48,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "返回",IDC_BU_STABACK,511,294,36,14
END

FINDDIALOG DIALOGEX 0, 0, 318, 390
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "数据查询"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "省份监管信息查询",IDC_STATIC,19,15,280,84
    CONTROL         "按省份",IDC_RADIO1,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,141,31,40,10
    CONTROL         "按纪检人",IDC_RADIO2,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,185,31,48,10
    EDITTEXT        IDC_EDIT11,59,29,68,12,ES_AUTOHSCROLL
    RTEXT           "省份:",IDC_STATIC1,28,31,28,8
    PUSHBUTTON      "查询",IDC_BUTTON_FIND1,245,28,40,14
    GROUPBOX        "贪腐案件信息查询",IDC_STATIC,19,103,280,126
    CONTROL         "按编号",IDC_RADIO3,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,142,117,40,10
    CONTROL         "按被告和级别",IDC_RADIO4,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,182,117,64,10
    RTEXT           "编号:",IDC_STATIC2,27,117,28,8
    EDITTEXT        IDC_EDIT12,57,114,44,12,ES_AUTOHSCROLL
    GROUPBOX        "媒体报道信息查询",IDC_STATIC,18,240,280,121
    COMBOBOX        IDC_COMBO_ADMIN_LEVEL,102,114,40,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    RTEXT           "编号:",IDC_STATIC3,24,255,30,8
    EDITTEXT        IDC_EDIT13,57,255,64,12,ES_AUTOHSCROLL
    CONTROL         "按案件编号和媒体名称",IDC_RADIO5,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,137,255,96,10
    CONTROL         "按报道日期和媒体名称的一部分",IDC_RADIO6,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,137,268,128,10
    RTEXT           "媒体名:",IDC_STATIC4,24,268,30,8
    EDITTEXT        IDC_EDIT14,56,268,64,12,ES_AUTOHSCROLL
    PUSHBUTTON      "查询",IDC_BUTTON_FIND2,247,114,40,14
    PUSHBUTTON      "查询",IDC_BUTTON_FIND3,244,250,40,14
    PUSHBUTTON      "返回",IDC_BU_FINDBACK,245,370,50,14
END

PROVINCEDIALOG DIALOGEX 0, 0, 146, 104
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "省份信息"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_COMBO_PROVINCE3,72,16,48,104,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "选择省份:",IDC_STATIC,21,18,36,8
    LTEXT           "纪检人姓名:",IDC_STATIC,21,36,44,8
    LTEXT           "联系电话:",IDC_STATIC,22,55,36,8
    EDITTEXT        IDC_EDIT21,72,35,48,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT22,71,52,48,12,ES_AUTOHSCROLL | ES_NUMBER
    PUSHBUTTON      "保存",IDC_BUTTON21,20,70,40,14
    PUSHBUTTON      "返回",IDC_BUTTON22,76,70,40,14
END

ADDCASEDIALOG DIALOGEX 0, 0, 306, 174
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "案件管理"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "添加",IDC_RADIO51,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,182,14,32,10
    CONTROL         "修改",IDC_RADIO52,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,219,14,32,10
    CONTROL         "删除",IDC_RADIO53,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,257,14,32,10
    LISTBOX         IDC_LIST51,17,26,72,141,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "省份",IDC_STATIC,19,14,17,8
    LISTBOX         IDC_LIST52,99,27,68,139,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDIT51,218,29,76,12,ES_MULTILINE | ES_NUMBER
    LTEXT           "案件",IDC_STATIC,103,15,17,8
    LTEXT           "案件编号:",IDC_STATIC,181,31,36,8
    PUSHBUTTON      "确定",IDC_BUTTON51,180,149,50,14
    LTEXT           "立案日期:",IDC_STATIC,180,46,36,8
    EDITTEXT        IDC_EDIT54,217,59,76,12,ES_AUTOHSCROLL
    LTEXT           "被告人姓名:",IDC_STATIC,171,61,44,8
    EDITTEXT        IDC_EDIT55,217,106,64,12,ES_AUTOHSCROLL
    LTEXT           "行政级别:",IDC_STATIC,179,76,36,8
    EDITTEXT        IDC_EDIT56,217,121,64,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "主要罪名:",IDC_STATIC,179,92,36,8
    LTEXT           "涉案金额:",IDC_STATIC,177,108,36,8
    LTEXT           "刑事处罚:",IDC_STATIC,177,122,36,8
    COMBOBOX        IDC_COMBO52,217,89,76,130,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO53,217,73,76,130,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "返回",IDC_BUTTON52,238,149,50,14
    CONTROL         "",IDC_DATETIMEPICKER1,"SysDateTimePick32",DTS_RIGHTALIGN | WS_TABSTOP,218,44,76,12
    LTEXT           "年",IDC_STATIC,283,123,9,8
    LTEXT           "注:0代表死刑,大于等于100代表无期",IDC_STATIC,174,136,126,8
    LTEXT           "万",IDC_STATIC,283,108,9,8
END

ADDNEWSDIALOG DIALOGEX 0, 0, 336, 144
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "新闻管理"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LISTBOX         IDC_LIST61,17,26,40,105,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "省份",IDC_STATIC,19,14,17,8
    LISTBOX         IDC_LIST62,65,26,55,106,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "案件",IDC_STATIC,69,15,17,8
    LISTBOX         IDC_LIST63,127,27,56,105,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "新闻",IDC_STATIC,131,15,17,8
    CONTROL         "修改",IDC_RADIO62,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,238,14,32,10
    CONTROL         "删除",IDC_RADIO63,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,274,14,32,10
    CONTROL         "添加",IDC_RADIO61,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,199,14,32,10
    LTEXT           "报道日期:",IDC_STATIC,193,33,36,8
    LTEXT           "媒体类别:",IDC_STATIC,193,49,36,8
    LTEXT           "媒体名称:",IDC_STATIC,193,64,36,8
    LTEXT           "内容索引:",IDC_STATIC,193,79,36,8
    EDITTEXT        IDC_EDIT62,231,62,75,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT63,231,76,75,39,ES_MULTILINE | ES_AUTOHSCROLL
    COMBOBOX        IDC_COMBO61,231,46,74,130,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "确定",IDC_BUTTON61,197,119,50,14
    PUSHBUTTON      "返回",IDC_BUTTON62,252,119,50,14
    CONTROL         "",IDC_DATETIMEPICKER2,"SysDateTimePick32",DTS_RIGHTALIGN | WS_TABSTOP,231,31,75,12
END

OPTIONDIALOG DIALOGEX 0, 0, 107, 87
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "系统设置"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "打开自动导入",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,22,21,64,10
    CONTROL         "退出自动保存",IDC_CHECK2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,22,35,64,10
    PUSHBUTTON      "确定",IDC_OPTION_OK,51,55,38,14
    GROUPBOX        "设置",IDC_STATIC,7,7,93,67
END

IDR_ACCELERATOR ACCELERATORS
BEGIN
    "H",            ID_APP_ABOUT,           VIRTKEY, CONTROL, NOINVERT
    "E",            ID_EMPTY,               VIRTKEY, CONTROL, NOINVERT
    "S",            ID_FILE_EXPORT,         VIRTKEY, CONTROL, NOINVERT
    "O",            ID_FILE_IMPORT,         VIRTKEY, CONTROL, NOINVERT
    "F",            ID_FIND,                VIRTKEY, CONTROL, NOINVERT
    "I",            ID_OPTION,              VIRTKEY, CONTROL, NOINVERT
    "T",            ID_APP_STATISTICS,      VIRTKEY, CONTROL, NOINVERT
END

ICON                    ICON                    "icon.ico"
